@media screen and (min-width: 1280px) {
    html {
        font-size: 1rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 1279px) {
    html {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 0.5rem;
    }
}

@media (hover: hover) {

    /* показываем контент при наведении мыши */
    .accordion__item:hover p {
        overflow: hidden;
        max-height: 50vh;
        opacity: 1;
        transition: 0.5s;
    }

    .accordion__item:hover p img {
        height: 50vh;
        transition: 0.5s;
    }

    /* при наведении на список показываем крестики и плюсики для каждого пункта списка */
    .accordion:hover .accordion__chk:checked ~ h2 {  
        color: #000000;
        background: url('../images/cross.svg') no-repeat right top;
        background-size: 2rem;
        transition: 0.5s;
    }

    .accordion:hover .accordion__chk ~ h2 {  
        color: #000000;
        background: url('../images/plus.svg') no-repeat right top;
        background-size: 2rem;
        transition: 0.5s;
    }

    .accordion__item:hover .accordion__chk ~ h2 {  
        color: #000000;
        background: url('../images/cross.svg') no-repeat right top;
        background-size: 2rem;
        transition: 0.5s;
    }
  }